NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_ADMIN_USERNAME=
NEXT_PUBLIC_PLATFORM_ADMIN_USERNAME=superadmin
NEXT_PUBLIC_PLATFORM_DOMAIN=wamercio.com
NEXT_PUBLIC_ROOT_DOMAIN=ltd.do
NEXT_PUBLIC_APP_TIMEZONE=America/Santo_Domingo
NEXT_PUBLIC_CATALOG_IMAGE_BASE_URL=https://catalogo.ltd.do
