registry=https://registry.npmjs.org/
replace-registry-host=always
audit=false
fund=false
progress=false
update-notifier=false
fetch-retries=6
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
maxsockets=8
