[Unit]
Description=WAMERCIO AutoTune
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/wamercio
ExecStart=/bin/bash /opt/wamercio/scripts/autotune.sh
ExecStartPost=/usr/bin/docker compose up -d --force-recreate
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
